* {
  margin: 0px;
  padding: 0px;
}

.btn {
  font-size: medium;
  padding: 8px;
  border-radius: 50px;
}

.btn:hover {
  font-size: large;
  padding: 10px;
}

#content-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#img-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 90%;
  height: 90%;
  max-height: 600px;
  object-fit: fill;
}
